body{
    background-color: beige;
    text-align: center;
}
h1{
    color: aquamarine;
    text-decoration: underline;
}
 #azul {
    color: blue;
}
 #rojo {
    color: red;
}
.auto{
    width: 300px;
    height: auto;
}
.nota{
    color: brown;
}
.contenido{
    text-decoration-line: underline;
}