body{
    background-color: beige;
    text-align: center;
}
h1{
    color: aquamarine;
    text-decoration: underline;
}
 #azul {
    color: blue;
}
 #rojo {
    color: red;
}
.auto{
    width: 50%;
    height: auto;
    border-radius: 5%;
}
.nota{
    color: brown;
}
.contenido{
    text-decoration-line: underline;
}
h3{
    color: beige;
}
@media screen and (min-width:800px){
    body{
        background-color: black;
        text-align: left;
    }
    .contenido{
        color: lightgreen;
    }
    h2{
        color: lightgreen;
    }
    p{
        color: lightgreen;
    }
    .auto{
     border-color: blueviolet;
     border-style: double;
    }
    h3{
        color: yellow;
    }
}